
# Created by https://www.toptal.com/developers/gitignore/api/vagrant,ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=vagrant,ansible

### Ansible ###
*.retry

### Vagrant ###
# General
.vagrant/
.vagrant/**

# Log files (if you are creating logs in debug mode, uncomment this)
# *.log

### Vagrant Patch ###
*.box

# End of https://www.toptal.com/developers/gitignore/api/vagrant,ansible

public/**
