---
- name: Update OSs
  hosts: all
  become:         yes
  become_method:  sudo
  roles:
   - common
   - tor

- name: Install Tor
  hosts: all
  become:         yes
  become_method:  sudo
  roles:
   - tor   
